<%- include ../../partials/header %>
<div class="container-fluid" id="mainContainer">
    <div class="row">
        <%- include ../../partials/nav %>
        <div class="col-md-9">
            <div class="jumbotron">
                <h1 class="display-3">Start Game</h1>
                <hr class="my-4">
                <p>Choose a genre!</p>
                <p class="lead justify-content-center">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="/music/<%= songTree[0].location %>/cover.gif" alt="cover" style="max-width: 100%;" class="img-responsive">
                            </div>
                            <div class="col-xs-6">
                                <h2>
                                Britpop
                                </h2>
                                <a class="btn btn-primary btn-lg" href="/startgame/1" role="button">Start game</a>
                                <a class="btn btn-primary btn-lg" href="/joingame" role="button">Join game</a>

                            </div>
                        </div>
                        
                        
                 </p>
            </div>
        </div>
    </div>
</div>
<%- include ../../partials/footer %>