<%- include ../partials/header %>
<div class="container-fluid" id="mainContainer">
    <div class="row">
        <%- include ../partials/nav %>
        <div class="col-md-9">
            <div class="jumbotron">
                <h1 class="display-3">Ghostwriter</h1>
                <p class="lead">A simple lyrics quiz made by Jay Williams.</p>
                <hr class="my-4">
                <p>Both players start the game on the same song. You'll hear 5 words then have to fill in the next two. As soon as you've got it correct, the next song will play. The aim is to complete 10 songs before your partner!</p>
                <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/startgame/1" role="button">Start game</a>
                        <a class="btn btn-primary btn-lg" href="/joingame" role="button">Join game</a>
                </p>
            </div>
        </div>
    </div>
</div>
<%- include ../partials/footer %>